.header {
  height: 35vh;
  width: 100vw;
  background-image: url('../../images/pattern-bg-desktop.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.header h1 {
  color: white;
  font-weight: 400;
}

.header__data {
  display: flex;
  background-color: white;
  padding: 2.5rem 1.5rem;
  gap: 3rem;
  border-radius: 1rem;
  position: absolute;
  bottom: -5rem;
  z-index: 1001;
  max-width: 80vw;
}

.header__isp, .header__location, .header__timezone {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  border-left: 1px solid hsl(0, 2%, 76%);
  flex: 1;
}

.header__ip {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
} 

.header h2 {
  color:  hsl(0, 0%, 59%);
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 1px;
}

.header span {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .header {
    padding: .5rem;
  }

  .header span {
    font-size: 1.1rem;
  }

  .header__data {
    padding: 1rem 1rem;
  }
  .header__ip {
    padding: 1rem 1rem;
  }
}

@media (max-width: 950px) {
  .header__data {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    bottom: -12rem;
    width: 80vw;
  } 

  .header__isp, .header__location, .header__timezone {
    border-left: none;
  }
}

@media (max-width: 550px) {
  .header h1 {
    margin-top: 2rem;
  }

  .header h2 {
    font-size: .7rem;
  }

  .header span {
    font-size: 1rem;
  }

  .header__data {
    width: 80vw;
    bottom: -10rem;
    gap: .7rem;
  } 

  .header__isp, .header__location, .header__timezone, .header__ip {
    align-items: center;
    justify-content: space-evenly;
    padding: 0rem;
  }


}