.search {
  display: flex;
  align-items: center;
  width: 32rem;
  margin-top: 2rem;
  position: relative;
}

.search input {
  padding: 1rem;
  border-radius: .7rem 0 0 .7rem;
  outline: none;
  border: none;
  flex: 12;
  font-size: 16px;
  cursor: pointer;
}

.search__error {
  display: none;
}

.search__error.active {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
  width: 32rem;
  background-color: rgb(252, 172, 172);
  padding: .5rem;
  font-size: .8rem;
  border-radius: 5px;
  color: red;
  z-index: 1200;
 }

.search input::placeholder {
  color: hsl(0, 0%, 59%);
  font-size: 16px;
}

.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  flex: 1;
  border-radius: 0 .7rem .7rem 0;
  cursor: pointer;
  transition: .15s;
  border: none;
}

.search__btn:hover {
  opacity: .8;
}

@media (max-width: 550px) {
 .search {
  width: 80vw;
 } 
}